<h1>Sign up</h1>

<form method="post">
    <input type="text" name="fname" id="fname" autocomplete="given-name" placeholder="First name">
    <input type="text" name="lname" id="lname" autocomplete="family-name" placeholder="Last name">
    <input type="email" name="email" id="email" autocomplete="email" placeholder="Email">
    <input type="text" name="tel" id="tel" placeholder="Phone number" autocomplete="tel">
    <input type="password" name="pwrd" id="pwrd" autocomplete="new-password" placeholder="Password">
    <input type="password" name="pwrd2" id="pwrd2" autocomplete="new-password" placeholder="confirm password">

    <button type="submit">Sign up</button>
</form>